# Editable Git install with no remote (anonymous-browser==0.1.0)
-e /Users/matthewngo/Documents/dev/projects/anobrow/anonymous-browser
black==24.1.1
browserforge==1.2.1
camoufox==0.4.9
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
Cython==3.0.11
exceptiongroup==1.2.2
flake8==7.0.0
greenlet==3.0.3
idna==3.10
iniconfig==2.0.0
isort==5.13.2
language-tags==1.2.0
lxml==5.3.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
numpy==2.0.2
orjson==3.10.15
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
playwright==1.42.0
pluggy==1.5.0
pycodestyle==2.11.1
pyee==11.0.1
pyflakes==3.2.0
Pygments==2.19.1
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
PySocks==1.7.1
pytest==8.0.0
pytest-asyncio==0.23.5
PyYAML==6.0.2
requests==2.32.3
rich==13.7.0
scipy==1.13.1
screeninfo==0.8.1
tomli==2.2.1
tqdm==4.67.1
typing_extensions==4.12.2
ua-parser==1.0.0
ua-parser-builtins==0.18.0.post1
urllib3==2.3.0
